body {
  background-color: rgb(193, 212, 206);
  width: 100wv;
  height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  background-color: rgb(193, 212, 206);
  width: 100%;
  position: fixed;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 60px;
}

img {
  background: 100%;
  position: relative;
}
.logo-title {
  color: rgb(228, 50, 14);
  position: relative;
  top: -75%;
  left: 5%;
  font-size: 40px;
  font-family: cursive;
}

li {
  list-style: none;
}

a {
  color: rgb(91, 91, 81);
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  position: relative;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

h2 {
  color: rgb(72, 62, 54);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 600;
  transition: 0.7s ease;
}
h2:hover {
  color: rgb(228, 50, 14);
}

main {
  background-color: white;
  width: 100wv;
  height: auto;
}

.main-container {
  background-image: url(..//Images/maltese.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100wv;
  height: 70vh;
}

.heading {
  background-color: rgb(193, 212, 206);
  width: 100wv;
  height: 200px;
  position: relative;
}

h1 {
  color: rgb(107, 102, 98);
  font-family: cursive;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-top: 1%;
  text-align: center;
}

h4 {
  color: rgb(72, 62, 54);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  position: relative;
  text-align: center;
}

.cards {
  width: 90wv;
  height: 40vh;
}

h3 {
  color: rgb(228, 50, 14);
  font-family: cursive;
  position: relative;
  text-align: center;
  font-size: 30px;
}

footer {
  background-color: rgb(72, 62, 54);
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 65% 15%;
  grid-gap: 30px;
  position: relative;
  text-align: center;
}

.footer-bar {
  padding-top: 7%;
}

.footer-menu .nav-link {
  font-size: 20px;
  color: rgb(238, 230, 226);
  flex-direction: column;

  transition: 0.7s ease;
}

.footer-menu .nav-link:hover {
  color: rgb(106, 139, 29);
}
footer label {
  color: rgb(255, 254, 254);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer input[type="email"] {
  border-radius: 5px;
  border-style: double;
  width: 200px;
  height: 30px;
  text-align: center;
}
footer input[type="checkbox"] {
  border-radius: 5px;
  color: aliceblue;
  margin-top: 4%;
}
footer input[type="submit"] {
  background-color: rgb(228, 139, 14);
  border-color: rgb(228, 139, 14);
  color: aliceblue;
  width: 75px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: 0.4s;
}
footer input[type="submit"]:hover {
  background-color: rgb(106, 139, 29);
  border-color: rgb(106, 139, 29);
  color: aliceblue;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
}
.facebook {
  background-image: url(../images/facebook.png);
  border-radius: 100%;
  background-size: 100%;
  width: 50px;
  height: 50px;
}
.facebook:hover {
  width: 35px;
  height: 35px;
  transition: 0.3s;
}
.instagram {
  background-image: url(../images/instagram.png);
  background-size: 100%;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.instagram:hover {
  width: 35px;
  height: 35px;
  transition: 0.3s;
}
.twitter {
  background-image: url(../Images/twitter.png);
  border-radius: 100%;
  background-size: 100%;
  width: 50px;
  height: 50px;
}
.twitter:hover {
  width: 35px;
  height: 35px;
  transition: 0.3s;
}

p {
  color: aliceblue;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  padding-top: 5%;
}

h6 {
  color: rgb(150, 150, 150);
  font-size: 10px;
  font-weight: 10;
}
